.dashboard {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 180px minmax(180px,auto) 180px;
  grid-template-areas:
  "baseData raus";
  margin: 1rem;
}
