.list-item {
  background-color: grey;
  height: 4rem;
  width: 30rem;
  border-radius: 15px;
  justify-self: center;

  .label {
    justify-content: center;
    align-items: center;
  }

  .counter {
    margin-right: 2rem;
    background-color: #C5EFFC;
  }

}