.data-block-headline {
  color: var(black);
  font-size: 1.2rem;
  border-bottom: 0.2rem solid var(black);
  @media (max-width: 330px){
    font-size: 1rem;
  }
  margin-left: 0.5rem;
  text-transform: uppercase;
  height: 1.5rem;
}
